<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p,h1{
            font-family: "JetBrains Mono", "Courier New";
            font-size: larger;
        }
        table{
             border-collapse: collapse;
             border-spacing: 0;
             border: 1px solid #ddd;
        }
        tr:nth-child(even){
            background-color: rgb(186, 185, 185);
        }
        td{
            text-align: left;
            padding: 15px;
        }
    </style>
</head>
<body>
    <h3>Timings</h3>
    <table>
        {% for i in param1 %}
            <tr>
                <td>{{i}}</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
